.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  color: #f1f1f1;
}

.app-content {
  flex: 1;
  padding: 2rem;
  margin-top: 60px; /* Space for fixed navbar */
  background-color: #1e1e1e;
}

@media (max-width: 768px) {
  .app-content {
    padding: 1rem;
  }
}

.loading-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  font-size: 1.2rem;
  color: #f1f1f1;
  text-align: center;
}

.loading-auth::after {
  content: '';
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border: 3px solid #f1f1f1;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
